@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#wrapper{
	width: 80%;
	border: 3px solid #bfbfbf;
	border-radius: 10px;
	background-color: white;
	margin: 1% auto;
}
#banner{		
	text-align: center;
	background-color: #BDBDBD;
}
.rubrik{
	font-family: 'Libre Baskerville', sans-serif;
	font-weight: bold;
	color: #595959;
	margin: 0;
}
#banner input{
	margin: 25px 0;
	width: 25%;
	height: 30px;
	border: 2px solid #bfbfbf;
	font-family: 'Libre Baskerville', sans-serif;
	font-weight: normal;
	font-size: 15px;
}
#banner input[type="search"]::-webkit-input-placeholder{ 
  color: #007399;
}
#banner input:hover{
	border: 2px solid #999999;
}
#spel-lista{
	background-color: white;
	margin-top: 40px;
}
#spel-lista{
	text-align: center;
	font-size: 1.5em;
}
#spel-lista ul{
	list-style-type: none;
}
#spel-lista ul li{
	background-color: #607D8B;
	margin: 20px auto;
	padding: 2% 0;
	width: 50%;
	text-align: left;
	position: relative;

}
#spel-lista ul li span.titel{
	font-family: 'Libre Baskerville', sans-serif;
	font-weight: normal;
	font-size: 1.2em;
	margin-left: 5%;
	color: white;
}
#spel-lista ul li span.radera{
	background-color: #F44336;
	padding: 2%;
	border-radius: 5px;
	color: white;
	font-size: 0.8em;
	position: absolute;
	right: 5%;
}
#spel-lista ul li span.radera:hover{
 	background-color: #EF5350;	
}
#laegtill-och-filtrera-container{
	width: 60%;
	margin: 3% auto;
	text-align: center;
}
#laegtill-och-filtrera label{
	font-family: 'Libre Baskerville', sans-serif;
}

#laegtill-och-filtrera input[type="search"]{
	width: 30%;
	height: 40px;
	border: 2px solid #bfbfbf;
	font-family: 'Libre Baskerville', sans-serif;
	font-weight: normal;
	font-size: 15px;
}
#laegtill-och-filtrera input[type="search"]::-webkit-input-placeholder{ 
  color: #007399;
}
#laegtill-och-filtrera button{
	background-color: #607D8B;
	padding: 11px;
	border: 1px solid #607D8B;
	border-radius: 0px 8px 8px 0px;
	color: white;
	font-family: 'Libre Baskerville', sans-serif;
}
#laegtill-och-filtrera button:hover{
	background-color: #78909C;
	border: 1px solid #78909C;
}
.gom{
	display: none;
}
/*laptop*/
@media (max-width: 1110px){
#wrapper{
	width: 90%;
	margin: 1% auto;
}
#searchBar input[type="search"]{
	width: 40%;
}
#spel-lista ul li{
	width: 70%;
	margin: 10px auto;
}
#laegtill-och-filtrera-container {
	width: 100%;
}
#laegtill-och-filtrera label{
	width: 10%;
}
#laegtill-och-filtrera input[type="search"]{
	display: inline-block;
	width: 35%;
	margin: 0;
	display: inline-block;
}
#laegtill-och-filtrera button{
	display: inline-block;
	width: 15%;
	max-height: 40px;
}
}
/* surf platta*/
@media(max-width: 780px){
	#wrapper
{
	width: 100%;
	margin: 0;
	border-radius: 0;
}
#searchBar input[type="search"]{
	width: 50%;
}
#spel-lista ul li{
	width: 80%;
	margin: 10px auto;
}
#laegtill-och-filtrera-container{
	width: 100%;
}
#laegtill-och-filtrera label{
	width: 20%;
}
#laegtill-och-filtrera input[type="search"]{
	display: inline-block;
	width: 40%;
	margin: 0;
	display: inline-block;
}
#laegtill-och-filtrera button{
	display: inline-block;
	width: 15%;
}
}
/*Mobil*/
@media (max-width: 480px){
#wrapper{
	width: 100%;
	margin: 0;
	border-radius: 0;
}	
#searchBar input[type="search"]{
	width: 85%;
}
#spel-lista ul{
	padding: 0;
}
#spel-lista ul li{
	width: 96%;
	margin: 10px 2%;
}
#spel-lista ul li span.titel{
	display: inline-block;
	width: 75%;
	font-size: 0.8em;
	margin: 0;
	padding-left: 1px;
}
#spel-lista ul li span.radera{
	display: inline-block;
	right: 0;
	top: 0;
	height: 100%;
	width: 25%;
	margin: 0;
	border-radius: 0;
	text-align: center;
	padding: 0;
	border-radius: 10px 0 0 10px;
	text-decoration: underline white;
	line-height: 40px; 
}
#laegtill-och-filtrera-container{
	width: 100%;
}
#laegtill-och-filtrera label{
	display: block;
	width: 100%;
}
#laegtill-och-filtrera input[type="search"]{
	display: inline-block;
	width: 68%;
	margin: 0;
	display: inline-block;
}
#laegtill-och-filtrera button{
	display: inline-block;
	width: 30%;
}
}